<style>
    .footer-section {
        background-color: #EDD146;
        margin: 0px;
        padding: 0px;
    }

.footer {
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
}
.left-section {
    display: flex;
    padding-top: 100px;
    flex-direction: column;
    justify-content: space-between;
}

.privacy.policy {
    border-top: 1px solid #403928;
}

.privacy.policy ul.main-menu {
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.right-section svg {
    position: absolute;
    right: 0;
}
    </style>

<section class='footer-section'>
<div class='container'>
        <div class='footer'>
            <div class='left-section'>
                <div>
                    <a href='/'>
                        <svg width="212" height="117" viewBox="0 0 212 117" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M25.728 78.6L24.48 53.736L49.824 25.8H74.496L46.08 57.096L33.504 69.96L25.728 78.6ZM5.472 93V25.8H27.744V93H5.472ZM49.632 93L29.856 66.888L44.544 51.336L75.84 93H49.632ZM99.9983 54.408H129.566V71.496H99.9983V54.408ZM101.534 93H78.8783V25.8H133.502V42.888H101.534V93ZM130.926 93L160.302 25.8H182.574L211.95 93H188.526L166.83 36.552H175.662L153.966 93H130.926ZM148.398 81.288L154.158 64.968H185.07L190.83 81.288H148.398Z" fill="#403928"/>
                        </svg>
                    </a>
                     <ul class="main-menu">
                        {% for link in linklists.main-menu.links -%}
                            <li> {{ link.title | link_to: link.url }} </li>
                        {%- endfor %}
                    </ul>
                </div>
                <div class='privacy policy'>
                
                 <ul class="main-menu">
                        {% for link in linklists.privacy-policy.links -%}
                            <li> {{ link.title | link_to: link.url }} </li>
                        {%- endfor %}
                    </ul>
                </div>
            </div>


            <div class='right-section'>
            <svg width="720" height="500" viewBox="0 0 720 500" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_10580_448)">
                <path d="M4.5 512.796C27.625 516.833 67.375 535.687 115.5 532.171C163.625 528.656 185.5 495.4 235.5 495.921C285.5 496.442 305.5 536.364 355.5 534.671C405.5 532.979 425.5 488.838 475.5 487.796C525.5 486.755 545.5 527.067 595.5 529.671C645.5 532.275 690.5 506.416 715.5 500.296" stroke="#403928" stroke-opacity="0.58" stroke-width="2" stroke-linecap="round"/>
                <path d="M4.5 489.046C27.625 493.083 67.375 511.937 115.5 508.421C163.625 504.906 185.5 471.65 235.5 472.171C285.5 472.692 305.5 512.614 355.5 510.921C405.5 509.229 425.5 465.088 475.5 464.046C525.5 463.005 545.5 503.317 595.5 505.921C645.5 508.525 690.5 482.666 715.5 476.546" stroke="#403928" stroke-opacity="0.58" stroke-width="2" stroke-linecap="round"/>
                <path d="M4.5 465.296C27.625 469.333 67.375 488.187 115.5 484.671C163.625 481.156 185.5 447.9 235.5 448.421C285.5 448.942 305.5 488.864 355.5 487.171C405.5 485.479 425.5 441.338 475.5 440.296C525.5 439.255 545.5 479.567 595.5 482.171C645.5 484.775 690.5 458.916 715.5 452.796" stroke="#403928" stroke-opacity="0.58" stroke-width="2" stroke-linecap="round"/>
                <path d="M4.5 441.546C27.625 445.583 67.375 464.437 115.5 460.921C163.625 457.406 185.5 424.15 235.5 424.671C285.5 425.192 305.5 465.114 355.5 463.421C405.5 461.729 425.5 417.588 475.5 416.546C525.5 415.505 545.5 455.817 595.5 458.421C645.5 461.025 690.5 435.166 715.5 429.046" stroke="#403928" stroke-opacity="0.58" stroke-width="2" stroke-linecap="round"/>
                <path d="M4.5 417.796C27.625 421.833 67.375 440.687 115.5 437.171C163.625 433.656 185.5 400.4 235.5 400.921C285.5 401.442 305.5 441.364 355.5 439.671C405.5 437.979 425.5 393.838 475.5 392.796C525.5 391.755 545.5 432.067 595.5 434.671C645.5 437.275 690.5 411.416 715.5 405.296" stroke="#403928" stroke-opacity="0.58" stroke-width="2" stroke-linecap="round"/>
                <path d="M4.5 394.046C27.625 398.083 67.375 416.937 115.5 413.421C163.625 409.906 185.5 376.65 235.5 377.171C285.5 377.692 305.5 417.614 355.5 415.921C405.5 414.229 425.5 370.088 475.5 369.046C525.5 368.005 545.5 408.317 595.5 410.921C645.5 413.525 690.5 387.666 715.5 381.546" stroke="#403928" stroke-opacity="0.58" stroke-width="2" stroke-linecap="round"/>
                <path d="M4.5 370.296C27.625 374.333 67.375 393.187 115.5 389.671C163.625 386.156 185.5 352.9 235.5 353.421C285.5 353.942 305.5 393.864 355.5 392.171C405.5 390.479 425.5 346.338 475.5 345.296C525.5 344.255 545.5 384.567 595.5 387.171C645.5 389.775 690.5 363.916 715.5 357.796" stroke="#403928" stroke-opacity="0.58" stroke-width="2" stroke-linecap="round"/>
                <path d="M4.5 346.546C27.625 350.583 67.375 369.437 115.5 365.921C163.625 362.406 185.5 329.15 235.5 329.671C285.5 330.192 305.5 370.114 355.5 368.421C405.5 366.729 425.5 322.588 475.5 321.546C525.5 320.505 545.5 360.817 595.5 363.421C645.5 366.025 690.5 340.166 715.5 334.046" stroke="#403928" stroke-opacity="0.58" stroke-width="2" stroke-linecap="round"/>
                <path d="M4.5 322.796C27.625 326.833 67.375 345.687 115.5 342.171C163.625 338.656 185.5 305.4 235.5 305.921C285.5 306.442 305.5 346.364 355.5 344.671C405.5 342.979 425.5 298.838 475.5 297.796C525.5 296.755 545.5 337.067 595.5 339.671C645.5 342.275 690.5 316.416 715.5 310.296" stroke="#403928" stroke-opacity="0.58" stroke-width="2" stroke-linecap="round"/>
                <path d="M4.5 299.046C27.625 303.083 67.375 321.937 115.5 318.421C163.625 314.906 185.5 281.65 235.5 282.171C285.5 282.692 305.5 322.614 355.5 320.921C405.5 319.229 425.5 275.088 475.5 274.046C525.5 273.005 545.5 313.317 595.5 315.921C645.5 318.525 690.5 292.666 715.5 286.546" stroke="#403928" stroke-opacity="0.58" stroke-width="2" stroke-linecap="round"/>
                <path d="M4.5 275.296C27.625 279.333 67.375 298.187 115.5 294.671C163.625 291.156 185.5 257.9 235.5 258.421C285.5 258.942 305.5 298.864 355.5 297.171C405.5 295.479 425.5 251.338 475.5 250.296C525.5 249.255 545.5 289.567 595.5 292.171C645.5 294.775 690.5 268.916 715.5 262.796" stroke="#403928" stroke-opacity="0.58" stroke-width="2" stroke-linecap="round"/>
                <path d="M4.5 251.546C27.625 255.583 67.375 274.437 115.5 270.921C163.625 267.406 185.5 234.15 235.5 234.671C285.5 235.192 305.5 275.114 355.5 273.421C405.5 271.729 425.5 227.588 475.5 226.546C525.5 225.505 545.5 265.817 595.5 268.421C645.5 271.025 690.5 245.166 715.5 239.046" stroke="#403928" stroke-opacity="0.58" stroke-width="2" stroke-linecap="round"/>
                <path d="M4.5 227.796C27.625 231.833 67.375 250.687 115.5 247.171C163.625 243.656 185.5 210.4 235.5 210.921C285.5 211.442 305.5 251.364 355.5 249.671C405.5 247.979 425.5 203.838 475.5 202.796C525.5 201.755 545.5 242.067 595.5 244.671C645.5 247.275 690.5 221.416 715.5 215.296" stroke="#403928" stroke-opacity="0.58" stroke-width="2" stroke-linecap="round"/>
                <path d="M4.5 204.046C27.625 208.083 67.375 226.937 115.5 223.421C163.625 219.906 185.5 186.65 235.5 187.171C285.5 187.692 305.5 227.614 355.5 225.921C405.5 224.229 425.5 180.088 475.5 179.046C525.5 178.005 545.5 218.317 595.5 220.921C645.5 223.525 690.5 197.666 715.5 191.546" stroke="#403928" stroke-opacity="0.58" stroke-width="2" stroke-linecap="round"/>
                <path d="M4.5 180.296C27.625 184.333 67.375 203.187 115.5 199.671C163.625 196.156 185.5 162.9 235.5 163.421C285.5 163.942 305.5 203.864 355.5 202.171C405.5 200.479 425.5 156.338 475.5 155.296C525.5 154.255 545.5 194.567 595.5 197.171C645.5 199.775 690.5 173.916 715.5 167.796" stroke="#403928" stroke-opacity="0.58" stroke-width="2" stroke-linecap="round"/>
                <path d="M4.5 156.546C27.625 160.583 67.375 179.437 115.5 175.921C163.625 172.406 185.5 139.15 235.5 139.671C285.5 140.192 305.5 180.114 355.5 178.421C405.5 176.729 425.5 132.588 475.5 131.546C525.5 130.505 545.5 170.817 595.5 173.421C645.5 176.025 690.5 150.166 715.5 144.046" stroke="#403928" stroke-opacity="0.58" stroke-width="2" stroke-linecap="round"/>
                <path d="M4.5 132.796C27.625 136.833 67.375 155.687 115.5 152.171C163.625 148.656 185.5 115.4 235.5 115.921C285.5 116.442 305.5 156.364 355.5 154.671C405.5 152.979 425.5 108.838 475.5 107.796C525.5 106.755 545.5 147.067 595.5 149.671C645.5 152.275 690.5 126.416 715.5 120.296" stroke="#403928" stroke-opacity="0.58" stroke-width="2" stroke-linecap="round"/>
                <path d="M4.5 109.046C27.625 113.083 67.375 131.937 115.5 128.421C163.625 124.906 185.5 91.6504 235.5 92.1712C285.5 92.692 305.5 132.614 355.5 130.921C405.5 129.229 425.5 85.0879 475.5 84.0462C525.5 83.0045 545.5 123.317 595.5 125.921C645.5 128.525 690.5 102.666 715.5 96.5462" stroke="#403928" stroke-opacity="0.58" stroke-width="2" stroke-linecap="round"/>
                <path d="M4.5 85.2962C27.625 89.3327 67.375 108.187 115.5 104.671C163.625 101.156 185.5 67.9004 235.5 68.4212C285.5 68.942 305.5 108.864 355.5 107.171C405.5 105.479 425.5 61.3379 475.5 60.2962C525.5 59.2545 545.5 99.567 595.5 102.171C645.5 104.775 690.5 78.916 715.5 72.7962" stroke="#403928" stroke-opacity="0.58" stroke-width="2" stroke-linecap="round"/>
                <path d="M4.5 61.5462C27.625 65.5827 67.375 84.4368 115.5 80.9212C163.625 77.4056 185.5 44.1504 235.5 44.6712C285.5 45.192 305.5 85.1139 355.5 83.4212C405.5 81.7285 425.5 37.5879 475.5 36.5462C525.5 35.5045 545.5 75.817 595.5 78.4212C645.5 81.0254 690.5 55.166 715.5 49.0462" stroke="#403928" stroke-opacity="0.58" stroke-width="2" stroke-linecap="round"/>
                <path d="M4.5 37.7962C27.625 41.8327 67.375 60.6868 115.5 57.1712C163.625 53.6556 185.5 20.4004 235.5 20.9212C285.5 21.442 305.5 61.3639 355.5 59.6712C405.5 57.9785 425.5 13.8379 475.5 12.7962C525.5 11.7545 545.5 52.067 595.5 54.6712C645.5 57.2754 690.5 31.416 715.5 25.2962" stroke="#403928" stroke-opacity="0.58" stroke-width="2" stroke-linecap="round"/>
                <path d="M4.5 14.0462C27.625 18.0827 67.375 36.9368 115.5 33.4212C163.625 29.9056 185.5 -3.34963 235.5 -2.82879C285.5 -2.30796 305.5 37.6139 355.5 35.9212C405.5 34.2285 425.5 -9.91213 475.5 -10.9538C525.5 -11.9955 545.5 28.317 595.5 30.9212C645.5 33.5254 690.5 7.666 715.5 1.54621" stroke="#403928" stroke-opacity="0.58" stroke-width="2" stroke-linecap="round"/>
                <path d="M4.5 -9.70379C27.625 -5.66734 67.375 13.1868 115.5 9.67121C163.625 6.15558 185.5 -27.0996 235.5 -26.5788C285.5 -26.058 305.5 13.8639 355.5 12.1712C405.5 10.4785 425.5 -33.6621 475.5 -34.7038C525.5 -35.7455 545.5 4.56704 595.5 7.17121C645.5 9.77537 690.5 -16.084 715.5 -22.2038" stroke="#403928" stroke-opacity="0.58" stroke-width="2" stroke-linecap="round"/>
                </g>
                <defs>
                <clipPath id="clip0_10580_448">
                <rect width="720" height="500" fill="white"/>
                </clipPath>
                </defs>
            </svg>
            </div>    
        </div>
 </div>
</section>