<section class="header-section">
    <div class="container">
        <div class="header">
            <div class="svg-logo">
            <a href="/">
                <svg width="104" height="34" viewBox="0 0 104 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.864 26.8L10.24 14.368L22.912 0.399998H35.248L21.04 16.048L14.752 22.48L10.864 26.8ZM0.736 34V0.399998H11.872V34H0.736ZM22.816 34L12.928 20.944L20.272 13.168L35.92 34H22.816ZM47.9991 14.704H62.7831V23.248H47.9991V14.704ZM48.7671 34H37.4391V0.399998H64.7511V8.944H48.7671V34ZM63.463 34L78.151 0.399998H89.287L103.975 34H92.263L81.415 5.776H85.831L74.983 34H63.463ZM72.199 28.144L75.079 19.984H90.535L93.415 28.144H72.199Z" fill="#403928"/>
                </svg>
            </a>
            </div>
            <ul class="main-menu">
                {% for link in linklists.main-menu.links -%}
                    <li> {{ link.title | link_to: link.url }} </li>
                {%- endfor %}
            </ul>
            <div class="cart-account">
                <a href="/cart" class="header-cart-link">
                    <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="44" height="44" rx="8" fill="#F6F6F6"/>
                    <path d="M14.5 15.3333H15.0053C15.8558 15.3333 16.5699 15.9738 16.6621 16.8193L17.3379 23.0141C17.4301 23.8596 18.1442 24.5 18.9947 24.5H26.205C26.9669 24.5 27.6317 23.9834 27.82 23.2452L28.9699 18.7359C29.2387 17.6821 28.4425 16.6574 27.355 16.6574H17.5M17.5206 27.5208H18.1456M17.5206 28.1458H18.1456M26.6873 27.5208H27.3123M26.6873 28.1458H27.3123M18.6667 27.8333C18.6667 28.2936 18.2936 28.6667 17.8333 28.6667C17.3731 28.6667 17 28.2936 17 27.8333C17 27.3731 17.3731 27 17.8333 27C18.2936 27 18.6667 27.3731 18.6667 27.8333ZM27.8333 27.8333C27.8333 28.2936 27.4602 28.6667 27 28.6667C26.5398 28.6667 26.1667 28.2936 26.1667 27.8333C26.1667 27.3731 26.5398 27 27 27C27.4602 27 27.8333 27.3731 27.8333 27.8333Z" stroke="#807D7E" stroke-width="1.5" stroke-linecap="round"/>
                    </svg>
                    <span class="cart-count">
                        {{ cart.item_count }}
                    </span>
                </a>

                <a href="/account" class="header-account-link">
                  <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="44" height="44" rx="8" fill="#F6F6F6"/>
                    <path d="M21.9999 23.6666C24.3011 23.6666 26.1666 21.8012 26.1666 19.5C26.1666 17.1988 24.3011 15.3333 21.9999 15.3333C19.6987 15.3333 17.8333 17.1988 17.8333 19.5C17.8333 21.8012 19.6987 23.6666 21.9999 23.6666ZM21.9999 23.6666C18.318 23.6666 15.3333 25.9052 15.3333 28.6666M21.9999 23.6666C25.6818 23.6666 28.6666 25.9052 28.6666 28.6666" stroke="#807D7E" stroke-width="1.5" stroke-linecap="round"/>
                </svg>
                </a>

            </div>

        </div>
    </div>

</section>