<section class="custom-kfa-lab" style="background-image: url('{{ section.settings.background_image | img_url: 'master' }}');">
<div class='container'> 
  <div class="custom-kfa-lab__content">
    <h2>{{ section.settings.title }}</h2>
    <p>{{ section.settings.description }}</p>
    <a href="{{ section.settings.read_more_link }}" class="read-more">Read more</a>
  </div>
 <div class="custom-kfa-lab__materials">
  {% for material in section.settings.materials_list %}
    <div class="material">
    <div class="material-list">
        <p>ABS</p>
        <p>PLA</p>
        <p>PETG</p>
        <p>PBT</p>
        <p>NYLON</p>
        <p>PC</p>
        <p>RESIN</p>
        <p>CARBON</p>
        <p>FILAMENTS</p>
        <!-- Dubl -->
        <p>ABS</p>
        <p>PLA</p>
        <p>PETG</p>
        <p>PBT</p>
        <p>NYLON</p>
        <p>PC</p>
        <p>RESIN</p>
        <p>CARBON</p>
        <p>FILAMENTS</p>
    </div>
    </div>

  {% endfor %}
    </div>
</div>

</section>

{% schema %}
{
  "name": "Custom KFA Lab",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "CUSTOM KFA LAB"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "We offer 3D printing services for custom artisan keycaps using a wide range of high-quality materials. Our keycaps are crafted with precision, durability, and attention to detail to enhance your keyboard experience."
    },
    {
      "type": "url",
      "id": "read_more_link",
      "label": "Read More Link"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "textarea",
      "id": "materials_list",
      "label": "Materials List (one per line)",
      "default": "ABS\nPLA\nPETG\nPBT\nNYLON\nPC\nRESIN\nCARBON\nFILAMENTS"
    }
  ],
  "presets": [
    {
      "name": "Custom KFA Lab"
    }
  ]
}
{% endschema %}