{% schema %}
{
  "name": "Page",
  "settings": [],
  "presets": [
    {
      "name": "Page"
    }
  ]
}
{% endschema %}

<div class="page-content">
  {{ page.content }} <!-- Вывод контента из Shopify-админки -->
</div>
