{% schema %}
{
  "name": "Page Custom",
  "settings": [],
  "presets": [
    {
      "name": "Page Custom"
    }
  ]
}
{% endschema %}

<div class="custom-page">
  {{ page.content }} <!-- Вывод контента из Shopify-админки -->
</div>
