.container {
  max-width: 1440px;
  margin: 0 auto; 
  padding: 0 20px; 
  box-sizing: border-box;
}

a:hover{
  color:#EDD146;
  transition: 0.3s;
}

body{
    font-family: 'Raleway', sans-serif;
    color: #403928;
}

h1, h2, h3, h4, h5, h6, p, li, a {
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, li{
  color: #403928;
}
    
section {
  padding-top: 60px;
  padding-bottom: 60px;
}

section.stndr-padding{
  padding-top: 60px;
}

section .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media (max-width: 768px) {
  .container {
    padding: 0 10px; 
  }

  section {
    padding: 40px 0;
  }
}


