.main-menu {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul.main-menu {
    display: flex;
    flex-direction: row;
    gap: 50px;
    list-style: none;
}

ul.main-menu li a {
    color: #000000;
    text-decoration: unset;
}

a {
    color: #000000;
    text-decoration: unset;
}

.cart-account a {
    display: flex;
    align-items: flex-start;
}
.cart-account {
    display: flex;
    gap: 20px;
    flex-direction: row;
}

.cart-account span {
    margin-left: -11px;
    background: red;
    color: white;
    padding: 2px 7px;
    border-radius: 20px;
}




.hero-section {
    display: flex;
    align-items: center;
    height: 90vh;
    justify-content: space-between;
}

.hero-section div h1 {
    font-family: Raleway;
    font-size: 48px;
    font-weight: 900;
    line-height: 49.39px;
}

.hero-section div {
    width: 42%;
}

.hero-section div h1 {
    font-family: Raleway;
    font-size: 48px;
    line-height: 49.39px;
}

.hero-section div p {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
}

.hero-section {
    display: flex;
    align-items: center;
    height: 75vh;
    justify-content: space-between;
}





.image-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.image-item {
    width: 25%;
    display: flex;
    height: 250px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.text-content {
    display: flex
;
    flex-direction: column;
    align-items: center;
}

.text-content h3 {
  text-align: center;
    font-size: 42px;
     word-wrap: break-word;
  overflow-wrap: anywhere; 
  white-space: normal; 
    font-weight: 900;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); 
  color: white;
  }

.image-item {
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
    padding: 20px;
}

.image-item:hover {
    filter: grayscale(0%);
    transition: filter 0.3s ease-in-out;
    padding: 20px;
    
}







.artisan-section {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-bottom: 50px;
}

.artisan-section h3 {
    font-size: 24px;
    font-weight: 900;
    line-height: 24px;
    text-transform: uppercase;
}

.artisan-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.artisan-item {
    width: 23%;
    background: #fff;
    overflow: hidden;
    text-align: center;
}



.artisan-image img {
  width: 100%;
  height: 370px;
  object-fit: cover;
  border-radius: 8px;
}

.artisan-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.artisan-title {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.artisan-price {
    background: #F6F6F6;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    padding: 10px;
    border-radius: 10px;
}


.artisan-price {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}
